<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/header.ejs') %>
    <link rel="stylesheet" href="/css/log_in.css">
    <link rel="stylesheet" href="/css/mainPage.css">
</head>

<body>
    <% if(success && success.length > 0){ %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong><%= success %></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>
    <!-- <div class="container">
        <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
        <% } %>
    </div> -->
    <%- include ('partials/nav-bar.ejs') %>
    <div class="main-page ">
    <div style="margin-bottom:3vh;font-size: 22px; font-family:'Play',sans-serif ;background-color:	#e3e3e3;padding:15px;text-align:center;">
        <h1 class = "main-title">Aναγνώρισε τις σπουδές σου στην Ελλάδα και
            συνέχισε την επαγγελματική σου σταδιοδρομία εδώ</h1>
    </div>
        <div style="overflow:auto" class="plhrofories">
            <div class="container-title">Πληροφορίες</div>

            <div class="anagnwrish-info">
                Δικαιολογητικά,παράβολα και πληροφορίες για την αίτηση αναγνώρισης
                <a   href="/info">Μάθε περισσότερα >></a>
            </div>

        </div>
      
        <div class="ta-nea-mas">
            <div class="container-title">Τα τελευταία νέα</div>

            <div class="anakoinwsh">
                <div class="a-title">Ανακοινώση 1</div>
                <div class="a-body">Lorem ipsum dolor sit amet, consectetur adipisicing Lorem, ipsum dolor sit amet consectetur adipisicing elit. . </div>
            </div>

            <div class="anakoinwsh">
                <div class="a-title">Ανακοινώση 2</div>
                <div class="a-body">Lorem ipsum dolor sit amet, consectetur adipisicing Lorem ipsum, dolor sit amet consectetur adipisicing elit. </div>
            </div>

            <div class="anakoinwsh">
                <div class="a-title">Ανακοινώση 3</div>
                <div class="a-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.  </div>
            </div>

            <button class="learn-more">Περισσότερες >></button>





        </div>
        <div class="epikoinwnia">
            <div class="container-title">Επικοινώνησε μαζί μας</div>

            <div class="epikoinwnia-text"> Στοιχεία εποκοινώνιας με εμάς , Κλείσε Ραντεβού </div>
            <a   href="/contact">Μάθε περισσότερα >></a>

          
        </div>
      </div>


      

    <%- include ('partials/footer.ejs') %>
</body>

</html>