<!DOCTYPE html>
<html>

<head>
    <%- include ('../partials/header.ejs') %>
</head>

<body>
    <%- include ('../partials/nav-bar.ejs') %>
        <%- include ('../partials/breadcrumbs.ejs') %>

        <div class="containter">
            Welcome admin 
            <%= user.first_name %> 
            <%= user.last_name %>
            <div class="container top-padding bottom-padding">
                <ul>
                  <% result.forEach(function(item) { %>
                    <li><%= item.req_id %></li>
                    <li><%= item.country %></li>
                    <li><%= item.university %></li>
                  <% })%>
                </ul>  
              </div>
        </div>


<%- include ('../partials/footer.ejs') %>
</body>

</html>