<!DOCTYPE html>
<html>

<head>
  <%- include ('../partials/header.ejs') %>
</head>

<body>
  <%- include ('../partials/nav-bar.ejs') %>
    <%- include ('../partials/breadcrumbs.ejs') %>
      
      <div class="container top-padding bottom-padding">
        <ul>
          <% result.forEach(function(item) { %>
            <li>
              <%= item.req_id %>
            </li>
            <li>
              <%= item.country %>
            </li>
            <li>
              <%= item.university %>
            </li>
            <% })%>
        </ul>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
      <script src="js/nav-script.js"></script>
</body>

</html>